/* 카드 컨테이너 설정 */
.vcdh-card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 카드 크기 및 반응형 설정 */
  gap: 20px;
  justify-content: center;
  max-width: calc(250px * 5 + 20px * 4); /* 컨테이너의 최대 너비 설정 */
  margin: 0 auto; /* 페이지 중앙 정렬 */
  padding: 20px; /* 상하좌우 여백 추가 */
}

/* 카드 스타일 */
.vcdh-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #fff;
  transition: transform 0.2s;
}

.vcdh-card:hover {
  transform: scale(1.05);
}

.vcdh-card h3 {
  margin: 0;
  font-size: 18px;
  word-wrap: break-word;
}

/* 카드 태그 컨테이너 */
.vcdh-tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 10px; /* 태그와 핀 소개 사이 간격 추가 */
}

.vcdh-card p {
  font-size: 16px; /* 핀 소개 텍스트 크기 증가 */
  margin: 8px 0 0;
  color: #666;
  word-wrap: break-word;
}

/* 태그 스타일 */
.vcdh-tag {
  padding: 5px 10px;
  border-radius: 16px;
  font-size: 12px;
  display: inline-block;
  color: #fff;
}

.vcdh-tag.payment-free {
  background-color: #fff;
  color: blue;
  border: 1px solid blue;
}

.vcdh-tag.payment-paid {
  background-color: #fff;
  color: orange;
  border: 1px solid orange;
}

/* 모달 스타일 */
.vcdh-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 700px;
  max-height: 90vh;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 1000;
  padding-top: 20px; /* 모달 최상단 여백 추가 */
}

.vcdh-modal-header {
  font-size: 22px;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.vcdh-modal-content {
  max-height: 70vh;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
  font-size: 16px;

}

.vcdh-modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.vcdh-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 30px;
  color: #888;
}

/* 모달 내 테이블 스타일 */
.vcdh-modal-table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.vcdh-modal-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.vcdh-modal-row:hover {
  background-color: #f9f9f9;
}

.vcdh-modal-cell {
  flex: 1;
  padding: 5px;
  font-size: 16px;
}

.vcdh-modal-cell.header {
  font-weight: bold;
  color: #999;
  flex: 0.35;
  font-size: 17px;
}

.vcdh-modal-cell iframe {
  width: 100%;
  height: 150px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.vcdh-url-button {
  padding: 8px 12px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.vcdh-url-button:hover {
  background-color: #0056b3;
}

/* 검색 및 페이지네이션 */
#vcdh-search-container {
  margin-bottom: 20px;
  text-align: center;
}

#vcdh-search-input {
  width: 50%;
  max-width: 400px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#vcdh-filter-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

#vcdh-filter-container select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#vcdh-clear-filters {
    background-color: #007bff;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#vcdh-clear-filters:hover {
    background-color: #0056b3;
}

.vcdh-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.vcdh-pagination-button {
  margin: 0 5px;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.vcdh-pagination-button:hover {
  background-color: #eee;
}

.vcdh-pagination-button.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

#vcdh-jump-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#page-number-input {
  width: 80px;
  padding: 5px;
  margin-right: 5px;
}

#jump-button {
  padding: 5px 10px;
  cursor: pointer;
}

/* 로딩 메시지 */
.vcdh-loading {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
  color: #555;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px 40px;
  border: 1px solid #ddd;
  border-radius: 8px;
  z-index: 1000;
}
